mixin promo(data)
  include ../icon/icon

  section.promo&attributes(attributes)
    .container-fluid
      .promo__slider-wrapper
        button(type="button").promo__arrow.slide-arrow.slide-arrow--prev.text-hide.js-promo-prev-btn
          +icon('arrow-left', 12, 11)
          |Предадущий слайд
        button(type="button").promo__arrow.slide-arrow.slide-arrow--next.text-hide.js-promo-next-btn
          +icon('arrow-right', 12, 11)
          | Следующий слайд
        div.promo__slider.js-promo-slider
          each slide in data.list
            if slide.textColor
              section(class="promo__slide "+slide.textColor)
                div.promo__bg-image
                  img(src="%=static=%img/content/"+slide.urlImg width="671" height="408" alt=slide.alt)
                  .promo__body
                    h3.promo__title !{slide.title}
                    p.promo__subtitle !{slide.subtitle}
                    a(href="#").promo__btn.btn.btn--border-white #{slide.btnTitle}
            else
              section(class="promo__slide")
                div.promo__bg-image
                  img(src="%=static=%img/content/" + slide.urlImg width="671" height="408" alt=slide.alt)
                  .promo__body
                    h3.promo__title !{slide.title}
                    p.promo__subtitle !{slide.subtitle}
                    a(href="#").promo__btn.btn.btn--border-white #{slide.btnTitle}
    .promo__footer
      .container
        .promo__footer
          .row.justify-content-md-between.align-items-center
            .col-md-auto
              .promo__dots
            if data.showAllLessons
              .col-md-auto.text-center
                a(href="#").show-all Показать все акции
                 span &nbsp;&rarr;
