mixin features(data)
  section.features&attributes(attributes)
    .container
      if data.title
        h2.features__title.h2 #{data.title}
      .row.justify-content-xl-between
        each item in data.list
          div(class=item.classListColumn)
            .features__item
              div(class="features__img "+item.classIconClassName)
                img(src="%=static=%img/general/"+item.imgSrc width=item.width height=item.height alt=item.desc)
              h3.features__name
                a(href="#") !{item.desc}
