mixin features(data)
  section.features&attributes(attributes)
    .container
      if data.title
        h2.features__title.h2 #{data.title}
      div(class="row "+data.gutters)
        each item in data.list
          div(class=item.classListColumn)
            .features__item
              div(class="features__img "+item.classIconClassName)
                img(data-src="%=static=%img/general/"+item.imgSrc width=item.width height=item.height alt=item.desc aria-hidden="true").lazyload.blur-up
              h3.features__name
                if data.link
                  a(href="#") !{item.desc}
                else
                  | !{item.desc}
