mixin history(data)
  section.history.section&attributes(attributes)
    .container
      if data.title
        h2.history__title.h2 #{data.title}
      if data.subtitle
        p.history__subtitle.subtitle #{data.subtitle}
      .history__inner
        .row.no-gutters.justify-content-xl-between
          each item in data.list
            div(class=item.classListCol)
              div(class="history__item "+item.classMod)
                span.history__year !{item.title}
                p.history__desc #{item.desc}
