mixin page-schedule(data)
  include ../trial-lesson/trial-lesson
  include ../filters/filters
  section.page-schedule.timetable.section--grey&attributes(attributes)
    .container
      +filters(filterDefault)
      .timetable__list
        each cardMobile in data.rows
          .timetable__item.d-xl-none
            .timetable__item-inner
              table.timetable__table-m
                tbody
                  tr
                    td.timetable__th Школа
                    td #{cardMobile.school}
                  tr
                    td.timetable__th возраст
                    td #{cardMobile.yearsOld}
                  tr
                    td.timetable__th группа
                    td #{cardMobile.group}
                  tr
                    td.timetable__th Уровень
                    td #{cardMobile.level}
                  tr
                    td.timetable__th День нед.
                    td #{cardMobile.days}
                  tr
                    td.timetable__th время
                    td #{cardMobile.time}
                  tr
                    td.timetable__th ак.ч. в нед.
                    td #{cardMobile.hours}
                  tr
                    td.timetable__th статус
                    td #{cardMobile.status}
                tfoot
                  tr
                    td(colspan="2")
                      a(href="").timetable__btn.btn.btn--border-red-sm записаться
        table.timetable__table-d.d-none.d-xl-table
          thead
            tr
              th.timetable__th Школа
              th.timetable__th возраст
              th.timetable__th группа
              th.timetable__th Уровень
              th.timetable__th День нед.
              th.timetable__th время
              th.timetable__th ак.ч. в нед.
              th.timetable__th(colspan="2") статус
          tbody
            each rowDesktop in data.rows
              tr
                td #{rowDesktop.school}
                td #{rowDesktop.yearsOld}
                td #{rowDesktop.group}
                td #{rowDesktop.level}
                td #{rowDesktop.days}
                td #{rowDesktop.time}
                td #{rowDesktop.hours}
                td #{rowDesktop.status}
                td
                  a(href="#").timetable__btn
                    span записаться
      p.page-schedule__cost-label Стоимость аккадемического часа: 380&minus;600 рублей
      +trial-lesson()
