mixin actions(data)
  include ../trial-lesson/trial-lesson
  section.actions
    .container
      h2.actions__title.h2 #{data.title}
      .actions__cards
        .row
          each item in data.list
            .col-md-6
              article.actions__item
                .actions__preview(style={'background-image': 'url(%=static=%img/content/' + item.src + ')'})
                  h3.actions__name !{item.title}
                  span.actions__discount #{item.discount}
                  a(href="#").actions__btn.btn.btn--border-black Подробнее
                h4.actions__subject
                  a(href="#") !{item.subtitle}
                p.actions__text #{item.text}
      a(href="#").show-all архив акций
        span(aria-hidden="true") &nbsp;&rarr;
    +trial-lesson(true)




