mixin review(data)
  .review&attributes(attributes)
    .review__body
      header.review__top
        .review__photo
          img(src="%=static=%img/content/"+data.imgName width="80" height="80" alt=data.name)
        .review__info
          cite.review__name #{data.name}
          span.review__school #{data.school}
      .review__message
        blockquote #{data.message}
    if data.footer
      footer.review__bottom
        .row
          .col-md-auto
            span.review__date 21 января 2017
          .col-md
            ul.review__tags
              each tag in data.tags
                li.review__tag
                  a(href="#").review__link-tag !{tag}
